




<div class="city">

  <div class="container">
    <div id="cloud-intro"></div>
  </div>


  <div class="gameBox">

    <div class="leftbox">
      <h1>
        <input type="text" placeholder="Name" ng-model="gameCtrl.playerName">
        <input class="bu" type="submit" value="Submit" ng-click="gameCtrl.setPlayerName()">

      </h1>

      <h2> {{ gameCtrl.game.Name }} </h2>

      <h1> Coin/Min: </h1>

      <h3> {{ gameCtrl.game.MoneyPerMin }} </h3>

    </div>


    <div class="tower">

      <a class="buy" ng-click="gameCtrl.buyFloor()">
        <div class="buy">
          <h5> Buy Floor </h5>
        </div>
      </a>

      <div class="floors">
        <div class="bottom-wrapper">

          <div ng-repeat="floor in gameCtrl.game.Tower">

            <div class="wholebuttondiv" ng-if="floor.FloorName === 'Empty Floor'">

              
                <select ng-model="floor.pickedType">
                  <option ng-repeat="possibleFloor in gameCtrl.possibleFloors" value="{{ possibleFloor.Id }}" ng-if="possibleFloor.Name != 'Empty Floor'">
                    {{possibleFloor.Name}} - ${{possibleFloor.BuildCost}}
                  </option>
                </select>



                <input class="rightb" type="submit" value="Buy" ng-click="gameCtrl.changeFloor(floor)">


            </div>

            <div class="business" ng-if="floor.FloorName === 'Cafe'">
              <i class="fa fa-briefcase" aria-hidden="true"></i>
              <div class="businesshead">
                <h5 class="floortitle"> Cafe </h5>

                <img class="imageb" src="assets/images/Cafe.png" />


              </div>

            </div>

            <div class="apartment" ng-if="Floor.Name === 'SmallApartment'">
              <div class="apartmenthead">
                <i class="fa fa-building" aria-hidden="true"></i>
                <h5 class="floortitle"> Apartments </h5>
              </div>

              <img class="apimage" src="http://oi68.tinypic.com/121tmkx.jpg"/>

            </div>


        </div>
        <div class="floor" ng-repeat="floor in gameCtrl.floors"></div>
      </div>

    </div>
  </div>
</div>


<div class="footer">
  <img class="footercoin" src="http://hydra-media.cursecdn.com/crafttheworld.gamepedia.com/thumb/6/6d/Coin.png/50px-Coin.png?version=ea00541e8b483ddfd83045745a11ce8a"/>
  <p class="gamemoney"> {{ gameCtrl.game.Money }} </p>
  <i class="fa fa-male" aria-hidden="true"></i>
  <p class="unemployed"> {{ gameCtrl.game.Unemployed }} </p>


</div>
