



<div class="city">

  <div class="leftbox">
    <h1> Name: {{ gameCtrl.Game.Name }} </h1>

    <h2> Coin/Min: {{ gameCtrl.Game.MoneyPermin }} </h2>

  </div>








  <div class="tower">

    <a class="buy" href="" ng-click="">
      <div class="buy">


      </div>
    </a>


    <div class="floor" ng-repeat="floor in gameCtrl.floors">

    </div>

  </div>


</div>


<div class="footer">
  <img class="footercoin" src="http://hydra-media.cursecdn.com/crafttheworld.gamepedia.com/thumb/6/6d/Coin.png/50px-Coin.png?version=ea00541e8b483ddfd83045745a11ce8a"/>
  <p class="gamemoney"> {{ gameCtrl.game.money }} </p>
  <i class="fa fa-male" aria-hidden="true"></i>
  <p class="unemployed"> {{ gameCtrl.game.unemployed }} </p>


</div>
